@import "../App";
.collection {
  background-color: rgba($secondary-color, 0.4);
  margin: 10px 0;
  text-transform: uppercase;
  h1 {
    font-size: 4.5rem;
    font-weight: 100;
    margin: 0;
    padding: 0 10px;
    color: $primary-color;
  }
}
