@import "../App";

footer {
  width: 100vw;
  height: 200px;
  background-color: $primary-color;
  color: $background-color;
  background-image: $quilt;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-links {
  display: inline-block;
  margin-left: 50%;
  ul {
    display: list-item;
  }
  li > a {
    color: $secondary-color;
    font-size: 1.5rem;
  }
}
h1 {
  margin: 20px 0;
}
