@import "../App";

header {
  background-color: $primary-color;
  color: $background-color;
  background-image: $quilt;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  > * {
    width: 15%;
  }
  *:nth-child(2) {
    width: 70%;
  }
}
