@import "../App";

header {
  width: 100vw;
  height: 17vh;
  background-color: $primary-color;
  color: $background-color;
  background-image: $quilt;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 3;
  min-height: 120px;

  div {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    > * {
      color: $background-color;
    }
  }
}

@media screen and (max-width: 1019px) {
  header {
    height: 10vh;
    min-height: 60px;
    .header {
      display: flex;
      flex-direction: column;

      .heart-button {
        display: none;
      }
      nav {
        display: flex;
        width: 100%;
        margin-top: 1vh;
        ul {
          width: 100%;
          justify-content: space-around;
          li a {
            font-size: 28px;
          }
        }
        .logo {
          display: none;
        }
      }
      & > div {
        height: auto;
        padding: 0;
        width: 17%;
        position: relative;
        top: 2.5vh;
        left: 42vw;

        > button {
          background-color: $secondary-color;
          font-size: 28px;
          padding: 15% 20%;
          width: 100%;
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
}
