@import "../App";

header {
  width: 100vw;
  height: 120px;
  background-color: $primary-color;
  color: $background-color;
  background-image: $quilt;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 3;

  div {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    > * {
      color: $background-color;
    }
  }
}
