@import "../App";

.contact-form-container {
  margin-top: 120px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    width: 100%;
  }
  div:first-of-type {
    input {
      width: 46%;
    }
  }
  button {
    background-color: $secondary-color;
    border-radius: 10px;
    color: $background-color;
    font-family: $font-fam;
    padding: 0 1%;
    margin-bottom: 2%;
  }
}
input,
textarea {
  background-color: rgba($secondary-color, 0.3);
  border: 2px solid $primary-color;
  font-weight: 900;
  padding: 5px;
  border-radius: 10px;
  width: 96%;
  margin: 1%;
}
::placeholder {
  color: $primary-color;
  opacity: 1;
}
