@import "../App";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 55vw;
}

li > a {
  color: $background-color;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
  font-size: 2rem;

  img {
    width: 15vw;
    height: auto;
    position: relative;
    bottom: -15px;
  }
}

li > a:hover {
  color: $secondary-color;
}

button {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
  transition: color 0.3s ease;
  border: 0;
}
