.add-to-cart {
  display: flex;
  border-radius: 10px;
  contain: content;
}
.add-to-cart-btn {
  background-color: $secondary-color;
  font-family: $font-fam;
  border: none;
  color: $background-color;
  font-size: 1rem;
  padding: 5px 10px;
  transition: all 0.2s;
}
.add-to-cart-btn:hover {
  background-color: $primary-color;
}
.add-to-cart-btn:active {
  background-color: $primary-color;
  transform: scale(0.95);
}
